<ng-container *ngIf="character">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="character.image" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ character.name }}</h5>
                    <p class="card-text">{{ character.status }} - {{ character.species }}</p>
                    <p class="card-text">{{ character.type }} <span *ngIf="character.type">-</span>
                        {{ character.gender }}</p>
                    <p class="card-text">{{ character.origin.name }} <span *ngIf="character.origin.name">-</span>
                        {{ character.location.name }}</p>
                    <app-accordion [title]="ACCORDION_TITLE" [episodes]="episodes"></app-accordion>
                </div>
            </div>
        </div>
    </div>
</ng-container>