<ng-container *ngIf="character">
    <div class="card mb-5 background-dark">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="character?.image" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <app-character-info class="" [origin]="origin" [location]="location" [character]="character"></app-character-info>
                    <app-accordion [title]="ACCORDION_TITLE_LABEL" [episodes]="episodes"></app-accordion>
                </div>
            </div>
        </div>
    </div>
</ng-container>