/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
p, div, span {
    font-family: 'Roboto', sans-serif;
}
.transparent {
    background: transparent;
}
* {
    color: rgb(245, 245, 245);
}
.card {
    border: none;
}
.background-dark {
    background: rgb(60, 62, 68) none repeat scroll 0% 0%;
}