<div id="accordion">
  <div class="card transparent">
    <button type="button" class="btn">
      <h5 class="title m-0" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        {{ title | uppercase}}
      </h5>
    </button>

    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card transparent">
        <div class="card-body p-2">
          <span *ngFor="let episode of episodes; last as last">{{ episode.name }}<span *ngIf="!last">,&nbsp;</span></span>
        </div>
      </div>
    </div>
  </div>
</div>